pyyaml
h5py
easydict
matplotlib
scipy
scikit-learn
scikit-image
numpy
pretrainedmodels
opencv-python
ipdb
argparse
tqdm
ffmpeg-python
cython
numba
progress
mmcv
terminaltables
thop
pycocotools
pyrealsense2
